@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: "Space Mono";
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}

.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
 height: 100vh;
 margin: 0;
 

  /* Lightmode */
  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #2b3442;
  --txt-mid-contrast: #4b6a9b;
  --txt-low-contrast: #697c9a;

  --txt-search: #222731;
  --txt-search-placeholder: #4b6a9b;

  --bg: #f6f8ff;
  --bg-secondary: #fefefe;

  --theme-switch-btn-hover: #222731;

  /* Neutral */
  --error: #f74646;
}

body.dark-theme {
  background-color: var(--bg);

  /* Darkmode */
  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #fff;
  --txt-mid-contrast: #ffff;
  --txt-low-contrast: #fff;

  --txt-search: #fff;
  --txt-search-placeholder: #fff;

  --bg: #141d2f;
  --bg-secondary: #1e2a47;

  --theme-switch-btn-hover: #90a4d4;

  /* Neutral */
  --error: #f74646;
}

body {
  background-color: rgb(20, 28, 47);
}

body.dark-theme .search-container {
  box-shadow: none;
}

main {
  font-family: "Space Mono";
}

* :focus {
  outline: none;
}

.main-section {
  margin: 0 auto;
  width: fit-content;
}

/*HEADER SECTION BEGIN*/

header {
  display: flex;
  justify-content: center;
  gap: 25vw;
  align-items: center;
  height: fit-content;
  margin: 0;
  padding: 0;
}


header p {
  margin: 0;
  padding: 0;
}
.header-theme-switch-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2.5px;
}
.header-theme-switch-btn span {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
}

.header-theme-icon {
  margin-left: 16px;
}

.header-logo {
  font-size: 1.625rem;
  line-height: 38px;
  font-weight: 700;
  font-family: 'Space Mono';
  color: white;
}

.header-theme-switch-btn span {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: white;
}

/*HEADER SECTION END*/

.hidden {
  display: none;
}

/*SEARCH CONTAINER SECTION BEGIN*/
.search-container {
  display: flex;
  background-color: rgb(31, 42, 72);
  width: 97.5%;
  border-radius: 15px;
  padding: 10px;
  margin: 36px 0 24px 0;
  align-items: center;
  justify-content: center;
}

.search-container img {
  margin: 0 24px 0 22px;
}


.search-container input {
  background: transparent;
  border: 0;
  padding: 6px 0;
  color: rgb(219, 220, 225);
  font-family: "Space Mono";
  flex-grow: 1;
  line-height: 25px;
  font-size: 17px;
}

.search-error {
  margin-right: 24px;
  font-weight: 700;
  min-width: 80px;
  font-family: 'Space Mono';
  color: #e94446;
}


.btn-user-search {
  color: #fff;
    background-color: var(--primary);
    font-size: 1rem;
    border-radius: 10px;
    padding: 13px 24px;
    font-weight: 700;
    font-family: "Space Mono";
    background-color: rgb(0, 121, 254);
}

@media (max-width: 650px) {
  .btn-primary {
    font-size: 0.875rem;
    padding: 12.5px 16px;
  }
}

@media (max-width: 650px) {
  .search-container {
    padding: 7px;
    margin-bottom: 16px;
  }

  .search-icon {
    margin: 0 9px 0 6px;
    max-height: 20px;
    max-width: 20px;
  }

  .search-input {
    font-size: 0.813rem;
    margin-right: 9px;
  }
}

/*SEARCH CONTAINER SECTION END*/

/*USER SECTION BEGIN*/
.user-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  padding: 48px;
  background-color: rgb(31, 42, 72);
}

body.dark-theme .user-section {
  box-shadow: none;
}

.user-section h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 0;
}

/*USER SECTION END*/

.user-img {
  margin-right: 36px;
  border-radius: 50%;
  height: 117px;
  width: 117px;
}

.user-main {
flex-grow: 1;
}

.user-top {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 2px;
}



#user-img-mobile {
  display: none;
}

.user-bio {
  margin: 20px 0 32px 0;
}

.user-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 32px;
  border-radius: 10px;
  margin-bottom: 36px;
}

.user-status h4 {
  margin-bottom: 1;
}

/*USER CONTAINER BEGIN*/
.user-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


/*USER CONTAINER END*/

.user-bio {
  display: flex;
  width: 20vw;
  justify-content: start;
  margin-top: -1vw;
}

#user-bio {
  color: white;
  font-weight: 400;
}

.user-status {
  display: flex;
  justify-content: space-between;
  background-color: #141d2f;
  padding: 16px 32px;
  border-radius: 10px;
  margin-bottom: 36px;
  width: 20vw;
  height: 3vw;
}

.user-status ul {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 4vw;
}

.user-status li {
  list-style: none;
}


.user-infos {
display: grid;
justify-content: space-between;
align-items: flex-start;
grid-template-columns: repeat(2, auto);
grid-template-rows: repeat(2, auto);
column-gap: 18px;
row-gap: 18px;
}

.user-link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-link {
  word-break: break-all;
  margin-left: 18px;
}

.user-link-container a:hover {
  text-decoration: underline;
}

.user-link-container a:hover {
  text-decoration: underline;
}

@media (max-width: 840px) {
  #user-img {
    display: none;
  }

  #user-img-mobile {
    display: block;
    grid-column: 1 / 2;
    grid-row: span 3;
  }

  .user-top {
    justify-content: flex-start;
    grid-template-rows: repeat(3, auto);
    row-gap: 0;
  }

  .user-username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .user-name {
    align-self: flex-end;
  }

  .user-joined {
    align-self: flex-start;
  }

  .user-section {
    padding: 40px;
  }

  .user-bio {
    margin-top: 24px;
  }

  .user-stats {
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .user-section {
    padding: 32px 24px;
  }

  .user-img {
    margin-right: 20px;
    height: 70px;
    width: 70px;
  }

  .user-bio {
    margin: 32px 0 24px 0;
  }

  .user-status {
    margin-bottom: 24px;
    padding: 18px 24px;
  }

  .user-links {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}