@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: "Space Mono";
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}

body {
  background-color: rgb(20, 28, 47);
}

* :focus {
  outline: none;
}

.main-section {
  margin: 0 auto;
  width: fit-content;
}

.header {
  display: flex;
  margin: 0 auto;
  color: white;
  gap: 27vw;
  align-items: center;
}

.header p {
  width: fit-content;
  font-family: "Space Mono";
  font-weight: 600;
  font-size: 26px;
}

.header div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2.5px;
  gap: 20px;
}
.header div button {
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Space Mono";
  color: var(--txt-low-contrast);
  letter-spacing: 2.5px;
  font-weight: 700;
  padding: 0;
  color: white;
  border: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.search-container {
  display: flex;
  background-color: rgb(31, 42, 72);
  width: 38vw;
  border-radius: 15px;
  gap: 1vw;
  padding: 7px 2% 7px 5%;
  align-items: center;
  justify-content: space-evenly;
}

.search-container img {
  width: 1.3vw;
  height: 1.3vw;
}

.search-container input {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 7px 0;
  color: rgb(219, 220, 225);
  font-family: "Space Mono";
  font-size: 17px;
}

.search-container button {
  background-color: rgb(0, 121, 254);
  border: 0;
  font-family: "Space Mono";
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
  padding: 16px 25px;
  color: white;
}

.user-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  width: 38vw;
  padding: 30px 2% 50px 5%;
  background-color: rgb(31, 42, 72);
}

.user-section img {
  margin-right: 36px;
  border-radius: 50%;
  width: 16%;
  margin-top: 20px;
}

.user-main {
  width: 70%;
  display: flex;
  font-family: "Space Mono";
  padding: 0 2.5%;
  padding-right: 5%;
  flex-direction: column;
}

.user-section h1 {
  color: white;
  font-size: 25px;
  margin-bottom: 0;
}

#user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#user-info p {
  color: rgb(208, 210, 216);
  font-size: 15px;
  height: fit-content;
  margin: 20px 0;
  margin-bottom: 0;
}

.user-main h3 {
  color: rgb(1, 116, 243);
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.user-main p {
  color: rgb(166, 171, 184);
  font-weight: 400;
}

.user-status {
  display: grid;
  background-color: rgb(20, 28, 47);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 32px;
  border-radius: 10px;
  list-style: none;
  color: white;
}

.user-status h4 {
  margin-bottom: 1;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.user-status h2 {
  margin-bottom: 1;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.user-social {
  margin-top: 1vw;
  display: grid;
  flex-direction: row;
  gap: 12px;
  grid-template-columns: auto auto;
}

.location {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.location img {
  height: 1vw;
  margin: 0;
  object-fit: contain;
  width: 1.5vw;
}

.location p {
  margin: 0;
  font-size: 14px;
}

.link {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.link img {
  height: 1vw;
  object-fit: contain;
  margin: 0;
  color: white;
  width: 1.5vw;
}

.link p {
  margin: 0;
  font-size: 14px;
}

.twitter {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.twitter img {
  height: 1vw;
  object-fit: contain;
  margin: 0;
  color: white;
  width: 1.5vw;
}

.twitter p {
  margin: 0;
  font-size: 14px;
}

.company {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.company img {
  height: 1vw;
  object-fit: contain;
  margin: 0;
  color: white;
  width: 1.5vw;
}

.company p {
  margin: 0;
  font-size: 14px;
}